
*.pyc
*.exe
*.dll
*.pyd
*.bat
*.fish
venv/Scripts/activate
*.cfg
*.pth
*.py
*.txt
venv/Lib/site-packages/pip-20.0.2.dist-info/INSTALLER
venv/Lib/site-packages/pip-20.0.2.dist-info/METADATA
venv/Lib/site-packages/pip-20.0.2.dist-info/RECORD
venv/Lib/site-packages/pip-20.0.2.dist-info/WHEEL
*.virtualenv
*.tmpl
venv/Lib/site-packages/SQLAlchemy-1.3.16.dist-info/LICENSE
venv/Lib/site-packages/SQLAlchemy-1.3.16.dist-info/METADATA
venv/Lib/site-packages/SQLAlchemy-1.3.16.dist-info/RECORD
venv/Lib/site-packages/SQLAlchemy-1.3.16.dist-info/WHEEL
venv/Lib/site-packages/wheel-0.34.2.dist-info/INSTALLER
venv/Lib/site-packages/wheel-0.34.2.dist-info/METADATA
venv/Lib/site-packages/wheel-0.34.2.dist-info/RECORD
venv/Lib/site-packages/wheel-0.34.2.dist-info/WHEEL
venv/Lib/site-packages/SQLAlchemy-1.3.16.dist-info/INSTALLER
*.ps1
*.xsh
venv/Lib/site-packages/setuptools-46.1.3.dist-info/zip-safe
venv/Lib/site-packages/setuptools/command/launcher manifest.xml
venv/Lib/site-packages/setuptools-46.1.3.dist-info/WHEEL
venv/Lib/site-packages/setuptools-46.1.3.dist-info/RECORD
venv/Lib/site-packages/setuptools-46.1.3.dist-info/METADATA
venv/Lib/site-packages/setuptools-46.1.3.dist-info/LICENSE
venv/Lib/site-packages/setuptools-46.1.3.dist-info/INSTALLER
venv/Lib/site-packages/pip/_vendor/certifi/cacert.pem
*.rst
venv/Lib/site-packages/autopep8-1.5.2.dist-info/INSTALLER
venv/Lib/site-packages/autopep8-1.5.2.dist-info/LICENSE
venv/Lib/site-packages/autopep8-1.5.2.dist-info/METADATA
venv/Lib/site-packages/autopep8-1.5.2.dist-info/RECORD
venv/Lib/site-packages/autopep8-1.5.2.dist-info/WHEEL
venv/Lib/site-packages/pycodestyle-2.5.0.dist-info/INSTALLER
venv/Lib/site-packages/pycodestyle-2.5.0.dist-info/METADATA
venv/Lib/site-packages/pycodestyle-2.5.0.dist-info/RECORD
*.json
venv/Lib/site-packages/pycodestyle-2.5.0.dist-info/WHEEL
